*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

.ctags
.tags

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*

.Trashes

.svn


/node_modules/*
*.scssc
/vendor
/local-config.php
/wp-config.php
/sql-dump-*.sql
/db-sync
/wp-content/upgrade/
/wp
/.sass-cache
/wp-content/plugins/*
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/index.php
/wp-content/uploads/
wp-content/themes/twenty*/
wp-content/themes/timber*/
composer.lock
/bower_components
wp-content/w3tc-config/*
