<div class="home-container container">
	<div class="col-sm-1 grid-block">
		<a ui-sref="coffee-week">
			<article class="small-tile tile">
				<img class="tile" src="/assets/homepage/home-tile1.gif"/>
				<div class="grid-headings">
					<h2>using coffee<br/>to do good</h2>
					<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Marketing and Communications</p>
				</div>
			</article>
		</a>
	</div>
<!-- First block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="j-walker">
			<article class="small-tile tile">
				<img class="tile" src="/assets/homepage/Johnnie-Homepage-Desktop.png"/>
				<div class="grid-headings">
					<h2>a new<br/>home for<br/>whisky</h2>
					<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Food and Beverage Design</p>
				</div>
			</article>
		</a>
	</div>
<!-- Second block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="aboutus">
			<article class="large-tile tile">
				<img class="tile" src="/assets/homepage/home-tile2.png"/>
				<div class="grid-headings right grid-headings--big">
					<h2>we are<br/><b>portland.</b></h2>
					<p><span class="heading-small">ABOUT US.</span></p>
				</div>
			</article>
		</a>
	</div>


	<!-- Third block ends here -->
		<div class="col-sm-1 grid-block">
			<a ui-sref="hamar">
				<article class="small-tile tile">
					<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile8.png"/>
					<div class="grid-headings">
						<h2>THE TRANSFORMATIVE<br>POWER OF RETAIL</h2>
						<p><span class="heading--bold">WORK.</b></span>&nbsp;Commercial Masterplanning</p>
					</div>
				</article>
			</a>
		</div>



	<div class="col-sm-1 grid-block">
		<a ui-sref="lexicon">
			<article class="small-tile tile">
				<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile3.png"/>
				<div class="grid-headings">
					<h2>transforming<br/>a town</h2>
					<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Marketing and Communcations</p>
				</div>
			</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<article class="large-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile7.png"/>
			<div class="grid-headings">
				<h2>expanding<br/>an airport</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Transport</p>
			</div>
		</article>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="british-land">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/LondonTing-HomePage-Landscape.png"/>
			<div class="grid-headings">
				<h2>shopping london's<br>authentic<br>'spirit of place'</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Retail Design</p>
			</div>
		</article>
		</a>
	</div>

	<!-- Eleventh block ends here -->
		<div class="col-sm-1 grid-block">
			<a ui-sref="amuse">
			<article class="large-tile tile">
				<img class="tile" src="/assets/homepage/home-tile12.png"/>
				<div class="grid-headings">
					<h2>a beautiful<br>experiment</h2>
					<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Retail Design</p>
				</div>
			</article>
			</a>
		</div>

			<div class="col-sm-1 grid-block">
				<a ui-sref="doha">
					<article class="small-tile tile">
						<img class="tile" src="/assets/homepage/homepage-tile25.png"/>
						<div class="grid-headings">
							<h2>igniting<br>innovation<br>through<br>placemaking</h2>
							<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Commercial Masterplanning</p>
						</div>
					</article>
				</a>
			</div>



<!-- Fourth block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="gcsc">
			<article class="small-tile tile">
				<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile4.png"/>
				<div class="grid-headings">
					<h2>the future<br>of shopping</h2>
					<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Strategic Insights</p>
				</div>
			</article>
		</a>
	</div>


<!-- Fifth block ends here -->
	<div class="col-sm-1 grid-block" style="margin: 0;">
		<a target="_blank" href="https://twitter.com/portlanddesign">
			<article class="small-tile tile">
					<twitter-widget twitter-widget-id="'608455483507245059'">
						<twitter-widget-options="{'cards': 'hidden'}">
					</twitter-widget>
			</article>
		</a>
	</div>




<!-- Eighth block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="future-ready-questions">
			<article class="small-tile tile">
				<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile-frq.gif"/>
			</article>
		</a>
	</div>


<!-- Tenth block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="aelia">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/home-tile11.gif"/>
			<div class="grid-headings">
				<h2>a world<br/>first for<br/>travel<br/>retail</h2>
				<p><span class="heading--bold">WORK.</b></span>&nbsp;Retail Design</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="montreux">
		<article class="large-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile15.png"/>
			<div class="grid-headings">
				<h2>bringing<br/>jazz to<br/>harrods</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Food and Beverage Design</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="ajmal">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/home-tile16.png"/>
			<div class="grid-headings">
				<h2>fragrance<br/>for everyone</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Retail Design</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="al-maryah-island">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/Al-Maryah-Mobile-Landscape.png"/>
			<div class="grid-headings">
				<h2>sign<br/>of the<br/>times</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Signage and Wayfinding</p>
			</div>
		</article>
		</a>
	</div>

<!--
	<div class="col-sm-1 grid-block">
		<a ui-sref="#">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/Joining-The-Dots-Mobile.gif">
		</article>
		</a>
	</div>
-->

<!-- Twelvth block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="aelia-nice">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile13.png"/>
			<div class="grid-headings">
				<h2>the<br>art of<br/>the gift</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Marketing and Communications</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="wolford">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/home-tile25.png"/>
			<div class="grid-headings">
				<h2>luxury<br/>fashion<br>re-imagined</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Strategic Insights</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="halic">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/homepage-halic.png"/>
			<div class="grid-headings">
				<h2>from shipyard<br/>to city chic</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Commercial Masterplanning</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="british-land">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/home-tile19.gif"/>
			<div class="grid-headings">
				<h2>ibrahim ibrahim,<br/>ON THE FUTURE OF<br/>retail at marka</h2>
				<p><span class="heading--bold"><b>NEWS.</b></span></p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="markafoni">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-tile28.png"/>
			<div class="grid-headings">
				<h2>from online to<br/>to concept<br>store</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Retail Design</p>
			</div>
		</article>
		</a>
	</div>

	<div class="col-sm-1 grid-block">
		<a ui-sref="british-land">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile10.png"/>
			<div class="grid-headings">
				<h2>places<br/>people<br>prefer</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Signage & Wayfinding</p>
			</div>
		</article>
		</a>
	</div>


<!-- Thirteenth block ends here -->
	<div class="col-sm-1 grid-block">
		<a ui-sref="emporium">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/home-mobile-tile14.png"/>
			<div class="grid-headings">
				<h2>STORIES<br>OF EXOTIC<br>SEDUCTION<br>FOR DIAGEO</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Food and Beverage Design</p>
			</div>
		</article>
		</a>
	</div>
<!-- Fourteenth block ends here -->

<!-- Fifteenth block ends here -->
	<!-- <div class="col-sm-1 grid-block">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/frq.gif"/>
		</article>
	</div> -->


	<div class="col-sm-1 grid-block">
		<a ui-sref="british-land">
		<article class="small-tile tile">
			<img class="tile" src="/assets/homepage/homepage-mobile/KEF.png"/>
			<div class="grid-headings">
				<h2>enchanted<br/>journeys<br/>stimulate<br/>revenue</h2>
				<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Transport</p>
			</div>
		</article>
		</a>
	</div>





</div>
