<div class="home-container container">

		<div class="container ipad-grid-align home-final-gradient" ng-cloak>

			<div class="col-sm-12 grid-block grid-block-tablet remove-margin-pointone">
				<div class="col-sm-6 grid-block">
					<article class="col-sm-12 spacing-half">
						<a ui-sref="coffee-week" class="grid-block--img">
							<img class="tile" src="/assets/homepage/home-tile1.gif">
							<div class="grid-headings">
								<h2>using coffee<br/>to do good</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Marketing and Communications</p>
							</div>
							<div class="grid-block-hidden grid-block--yellow grid-headings--back" style="overflow: hidden;">
								<p>
									A brand campaign to
									wake up the nation
									using #spreadthesmile
									and to give back to
									the communities that
									grow our cof
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>
					<article class="col-sm-12">
						<a ui-sref="j-walker" class="grid-block--img">
							<img src="/assets/homepage/Johnnie-Homepage-Desktop.png">
							<div class="grid-headings">
								<h2>a new<br>home for<br>whisky</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Food and Beverage Design </p>
							</div>
							<div class="grid-block-hidden grid-block--black grid-headings--back">
								<p>
									Creating a standalone
									concept that would
									draw shoppers in.
								</p>
								<h3> view project</h3>
							</div>
						</a>
					</article>
				</div>
				<div class="col-sm-6 grid-block">
					<article class="col-sm-12">
						<a ui-sref="aboutus">
							<img class="tile" src="/assets/homepage/home-tile2.png">
							<div class="grid-headings right grid-headings--big">
								<h2>we are<br/><b>portland.</b></h2>
								<p><span class="heading--bold">ABOUT US.</span></p>
							</div>
						</a>
					</article>
				</div>
			</div>

			<div class="col-sm-12 grid-block div-block">
				<div class="col-sm-6 grid-block">
					<article class="col-sm-6 spacing-half">
						<a ui-sref="hamar" class="grid-block--img">
							<img src="/assets/homepage/home-tile8.png">
							<div class="grid-headings">
								<h2>THE TRANSFORMATIVE<br>POWER OF RETAIL</h2>
								<p><span class="heading--bold">WORK.</b></span>&nbsp;Commercial Masterplanning</p>
							</div>
							<div class="grid-block-hidden grid-block--blue grid-headings--back">
								<p>
									A new regional landmark in Hamar,
									Norway, delivering local and International retail and design
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>

					<!-- MODAL WINDOW FUNCTION GOES HERE -->
							<article class="col-sm-6">
								<div class="grid-block--img">
									<button href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#frqModal2">
										<img src="/assets/homepage/frq.gif">
									</button>
								</div>
							</article>
							<div class="modal fade" id="frqModal2" tabindex="-1" aria-labelledby="frqModal2" aria-hidden="true">
								<div class="modal-content">
									<div class="container">
										<button type="button" class="modal-button" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true" class="modal-button-close">&times;</span>
										</button>
										<div>
											<div class="modal-frq-logo">
												<img src="/assets/global/frq-text.png">
											</div>
											<!-- <div class="modal-headings col-sm-6">
												<h3><span>LEWIS ALLEN.&nbsp;</span>Environments Director</h3>
											</div> -->
											<div class="col-sm-12 right modal-subheading">
												<h2>celebrating 22 years of amazon,<br>but what's next for the ecommerce giant?</h2>
												<p style="font-family: portland-book;">
													Amazon will strengthen the ‘Ambient Retail’ model that embeds yet more automated
													convenience and curated services into its customer’s lives. Nevertheless, shopper’s
													will continue to crave shopping experiences that set their pulses racing. And so
													Amazon will build innovative shopping experiences filled with euphoria, ecstasy
													and eureka! moments. Real world destinations that offer an alternative to automated
													consumption. Expos, shows, happenings and maybe a store or two. Destination concepts that
													leverage the social and experiential potential of categories and brands.
												</p>
												<h3><span>LEWIS ALLEN.&nbsp;</span>Environments Director</h3>
											</div>
										</div>
										<button class="col-sm-12 modal-button-more" type="button">
											<a ui-sref="future-ready-questions" aria-label="Close" data-target="#frqModal"><span>More FRQs</span></a>
										</button>
									</div>
								</div>
							</div>
					<!-- MODEL WINDOW END HERE -->

					<article class="col-sm-12 ">
						<a ui-sref="luton" class="grid-block--img">
							<img class="tile" src="/assets/homepage/LondonTing-HomePage-Landscape.png">
							<div class="grid-headings">
							  <h2>shopping london's<br>authentic<br>'spirit of place'</h2>
							  <p><span class="heading--bold">WORK.</b></span>&nbsp;Retail Design</p>
							</div>
							<div class="grid-block-hidden grid-block--lightgold grid-headings--back">
								<p>
									A ground breaking duty free
									store at London Luton Airport
									designed with the innovative
									theme ‘It’s a London thing’
								</p>
								<h3> view project </h3>
							</div>

					</article>
				</div>
				<div class="col-sm-6 grid-block">
					<article class="col-sm-6 spacing-half">
						<a ui-sref="lexicon" class="grid-block--img">
							<img src="/assets/homepage/home-tile3.png">
							<div class="grid-headings">
								<h2>transforming<br/>a town</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Marketing and Communications</p>
							</div>
							<div class="grid-block-hidden grid-block--red grid-headings--back">
								<p>
									A #240 million
									regeneration of
									Bracknell town centre,
									which required a
									name, brand, design
									and a lot of big
									thinking to create a
									tows as it should be.

								<h3> view project </h3>
							</div>
						</a>
					</article>

					<article class="col-sm-6 offset-sm-6 right">
						<a ui-sref="stavanger" class="grid-block--img">
							<img src="/assets/homepage/home-tile7.png">
							<div class="grid-headings left-align">
								<h2>expanding<br/>an airport</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Transport</p>
							</div>
							<div class="grid-block-hidden grid-block--green grid-headings--back">
								<p class="left-align">
									Making the future
									better at Stavanger Airport
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>

					<article class="col-sm-6">
						<a target="_blank" href="https://twitter.com/portlanddesign">
							<img src="/assets/homepage/home-tile6.png">
						</a>
					</article>
				</div>
			</div>

			<div class="col-sm-12 grid-block remove-margin-pointone">
				<div class="col-sm-6 grid-block">
					<article class="col-sm-12">
						<a ui-sref="amuse" class="grid-block--img">
							<img src="/assets/homepage/home-tile12.png">
							<div class="grid-headings">
								<h2>a beautiful<br>experiment</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Retail Design</p>
							</div>
							<div class="grid-block-hidden grid-block--black grid-headings--back">
								<p>
									Amuse Beauty Studio.
									An emporium where customers flirt
									with their look
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>
				</div>

				<div class="col-sm-6 grid-block">
					<article class="col-sm-6 spacing-half">
						<a ui-sref="doha" class="grid-block--img">
							<img class="tile" src="/assets/homepage/homepage-tile21.png">
							<div class="grid-headings">
								<h2>igniting<br/>innovation<br/>through<br>placemaking</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Commercial Masterplanning</p>
							</div>
							<div class="grid-block-hidden grid-block--newblue grid-headings--back">
								<p>
									QRDC, a dynamic science and innova
									district in the heart of Doha City
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>

					<article class="col-sm-6 spacing-half">
						<a ui-sref="gcsc" class="grid-block--img">
							<img class="tile" src="/assets/homepage/home-tile4.png">
							<div class="grid-headings">
								<h2>the future<br>of shopping</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Strategic Insights</p>
							</div>
							<div class="grid-block-hidden grid-block--pink grid-headings--back">
								<p>
									An Insight Investigation into what shoppers
									will want from stores, shopping malls and
									retail experiences in the future.

								<h3> view project </h3>
							</div>
						</a>
					</article>

					<article class="col-sm-12">
						<a ui-sref="aelia" class="grid-block--img">
							<img class="tile" src="/assets/homepage/home-tile11.gif">
							<div class="grid-headings">
								<h2>a world<br/>first for<br/>travel<br/>retail</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Retail Design</p>
							</div>
							<div class="grid-block-hidden grid-block--orange grid-headings--back">
								<p>
									Creating an unexpected retail
									experience at Auckland Airport.
								</p>
								<h3> view project</h3>
							</div>
						</a>
					</article>

				</div>
			</div>

			<div class="col-sm-12 grid-block remove-margin-minus-pointtwo">
				<div class="col-sm-6 grid-block">

					<article class="col-sm-12 grid-block">
						<a ui-sref="montreux" class="grid-block--img">
							<img src="/assets/homepage/home-tile15.png">
							<div class="grid-headings">
								<h2>bringing<br/>jazz to<br/>harrods</h2>
								<p><span class="heading--bold">WORK.</b></span>&nbsp;Food and Beverage Design</p>
							</div>
							<div class="grid-block-hidden grid-block--dark-black grid-headings--back">
								<p>
									A hybrid café-retail concept for the
									world’s most famous department store
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>

					<article class="col-sm-12 grid-block">
						<a ui-sref="ajmal" class="grid-block--img">
							<img src="/assets/homepage/home-tile16.png">
							<div class="grid-headings">
								<h2>fragrance<br/>for everyone</h2>
								<p><span class="heading--bold">WORK.</b></span>&nbsp;Retail Design</p>
							</div>
							<div class="grid-block-hidden grid-block--gold grid-headings--back">
								<p>
									Positioning a UAE fragrance house
									for international shoppers.
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>
				</div>

				<div class="col-sm-6 grid-block">

					<article class="col-sm-6 offset-sm-6">
						<a ui-sref="al-maryah-island" class="grid-block--img">
							<img src="/assets/homepage/home-tile17.png">
							<div class="grid-headings">
								<h2>sign<br/>of the<br/>times</h2>
								<p><span class="heading--bold">WORK.</b></span>&nbsp;Signage and Wayfinding</p>
							</div>
							<div class="grid-block-hidden grid-block--light-grey grid-headings--back">
								<p>
									An unlimited opportunity for
									signage and placemaking
								</p>
								<h3> view project </h3>
							</div>
						</a>
					</article>
					</a>

					<article class="col-sm-6 spacing-half">
						<a ui-sref="aelia-nice" class="grid-block--img">
							<img src="/assets/homepage/Art-of-the-gift-IPad.png">
							<div class="grid-headings">
								<h2>the<br>art of<br/>the gift</h2>
								<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;Marketing and Communications</p>
							</div>
							<div class="grid-block-hidden grid-block--strong-cyan grid-headings--back">
								<p>
									Winning a tender for
									Nice Côte d’Azur Airport
								</p>
								<h3>view project</h3>
							</div>
						</a>
					</article>

					<!--<article class="col-sm-6 cursor" data-toggle="modal" data-target="#Newsletter">
						<a class="grid-block--img">
							<img src="/assets/homepage/Joining-the-dots.gif">
						</a>
					</article>-->
				<!--	<div class="modal fade" id="Newsletter" tabindex="-1" aria-labelledby="Newsletter" aria-hidden="true">
						<div class="modal-content">
							<button type="button" class="modal-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="modal-button-close">&times;</span></button>
							<article class="col-sm-12 home-newsletter">
							    <form id="mc-embedded-subscribe-form"
							          name="mc-embedded-subscribe-form"
							          action="//portlanddesigndev.us14.list-manage.com/subscribe/post?u=10b45670dff8d74a42658ada9&amp;id=fb24ba2040"
							          method="post"
							          novalidate>
							        <h4>Sign up to Joining The Dots</h4>
							        <div class="form-group newsletter-form">
							          <input name="FNAME" value="" type="text" id="mce-FNAME" placeholder="Name">
							        </div>
							        <div class="form-group newsletter-form">
							          <input name="EMAIL" value="" type="email" placeholder="Email" class="required email" id="mce-EMAIL">
							        </div>
							        <div class="form-group newsletter-form">
							          <input class="submit" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
							        </div>
							    </form>
							 </article>
						</div>
					</div>-->
				</div>
			</div>

			<div class="col-sm-12 grid-block">
				<article class="col-sm-3">
					<a ui-sref="wolford" class="grid-block--img">
						<img class="tile2" src="/assets/homepage/Wolford-Homepage-Square.png">
						<div class="grid-headings">
							<h2>luxury<br/>fashion<br/>re-imagined</h2>
							<p><span class="heading--bold">WORK.</b></span>&nbsp;Strategic Insights</p>
						</div>
						<div class="grid-block-hidden grid-block--dark-black grid-headings--back">
							<p>
								Testing Wolford's positioning
								to open up unexplored markets
							</p>
							<h3> view project </h3>
						</div>
					</a>
				</article>
				<article class="col-sm-3">
					<a ui-sref="halic" class="grid-block--img">
						<img src="/assets/homepage/home-tile24.png">
						<div class="grid-headings">
							<h2>from shipyard<br/>to city chic</h2>
							<p><span class="heading--bold">WORK.</b></span>&nbsp;Commercial Masterplanning</p>
						</div>
						<div class="grid-block-hidden grid-block--pink grid-headings--back">
							<p>
								Regenerating the historic Halic Shipyards
								into a new waterfront destination for Istanbul
							</p>
							<h3> view project </h3>
						</div>
					</a>
				</article>
				<article class="col-sm-6">
					<a ui-sref="news" class="grid-block--img">
						<img class="tile" src="/assets/homepage/home-tile19.gif">
						<div class="grid-headings">
							<h2>ibrahim ibrahim,<br/>ON THE FUTURE OF<br/>retail at marka</h2>
							<p><span class="heading--bold">NEWS.</b></span></p>
						</div>
					</a>
				</article>

				<article class="col-sm-3 right left-align" style="margin-top: 0.8em;">
					<a ui-sref="emporium" class="grid-block--img">
						<img src="/assets/homepage/home-tile14.png">
						<div class="grid-headings">
							<h2>STORIES<br>OF EXOTIC<br>SEDUCTION<br>FOR DIAGEO</h2>
							<p><span class="heading--bold">WORK.</b></span>&nbsp;Food and Beverage Design</p>
						</div>
						<div class="grid-block-hidden grid-block--black grid-headings--back">
							<p>
								‘The Emporium’. A new standard
								for shopper experience at
								Dubai International Airport
							</p>
							<h3> view project </h3>
						</div>
					</a>
				</article>

				<article class="col-sm-6" style="margin-top: 0.8em;">
					<a ui-sref="markafoni" class="grid-block--img">
						<img src="/assets/homepage/homepage-tile28.png">
						<div class="grid-headings">
							<h2>FROM ONLINE<br>TO CONCEPT<br>STORE</h2>
							<p><span class="heading--bold">WORK.</b></span>&nbsp;Retail Design</p>
						</div>
						<div class="grid-block-hidden grid-block--markafoni grid-headings--back">
							<p>
								Creating Immersive & Tactile experiences that weren't possible online.
							</p>
							<h3> view project </h3>
						</div>
					</a>
				</article>

				<article class="col-sm-3" style="margin-top: 0.8em;">
					<a ui-sref="british-land" class="grid-block--img">
						<img src="/assets/homepage/home-tile10.gif">
						<div class="grid-headings">
							<h2>PLACES<br>PEOPLE<br>PREFER</h2>
							<p><span class="heading--bold">WORK.</b></span>&nbsp;Signage & Wayfinding</p>
						</div>
						<div class="grid-block-hidden grid-block-britishland grid-headings--back">
							<p>
								Creating a strategy & brand positioning to transform retail parks.
							</p>
							<h3> view project</h3>
						</div>
					</a>
				</article>
			</div>

	</div>
</div>
