{% extends "layouts/base.twig" %}

{% block content %}
<section id="Contact-Container" class="content">
	<section class="contact-map-padding visible-sm visible-md visible-lg visible-xs">
		<iframe class="contact-map" height="500px" frameborder="0" style="border:0; margin-top: 90px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBjPTuEWMqsy-txIst995Rdz1MxsOqjGU&q={{post.location.address|url_encode}}" allowfullscreen>
		</iframe>
	</section>
	<section class="no-padding">
		<div class="flex-column base-color align-start careers-section">
			<div>
				<h1 class="no-margin careers-title">CAREERS</h1>
				<br/>
				<div class="no-margin careers-description">
					{{post.careers|wpautop}}
				</div>
			</div>
			<div style="margin-top: 3%;">
				<h1 class="no-margin careers-title">OPPORTUNITIES</h1>
				<br/>
				<div class="no-margin careers-description">
          {{post.opportunity|wpautop}}
				</div>
			</div>
		</div>
	</section>
</section>
{% endblock %}
