{% include 'partials/header.twig' %}
{% block head %}
{% endblock %}
</head>

	<body class="{{body_class}}" data-template="base.twig">

		<section id="Intro-Video" class="container">
			<div class="col-md-12">
				<div id="splash" class="splash" ng-cloak=""></div>
			</div>
		</section>
		<div ui-view autoscroll="true">
			<loading></loading>
		</div>
		{% block content %}
			Sorry, no content
		{% endblock %}
		{% include 'partials/footer.twig' %}
	</body>
</html>
