<div class="col-sm-12 column-block about-1col">
  <article class="col-sm-12 grid-tile">
    {% if row.type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.title,
        text : row.text,
        image : theme.link ~ "/assets/aboutpage/about-long-grey.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.image),
        theme : theme
      } only %}
    {% endif %}
  </article>
</div>
