<div class="col-sm-6 column-block">
  <article class="col-sm-12 grid-tile">
    {% if row.col_1_r1_1_type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.col_1_r1_1_title,
        text : row.col_1_r1_1_text,
        image : theme.link ~ "/assets/aboutpage/about-black.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.col_1_r1_1_image),
        theme : theme
      } only %}
    {% endif %}
  </article>
  <article class="col-sm-6 grid-tile">
    {% if row.col_1_r2_1_type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.col_1_r2_1_title,
        text : row.col_1_r2_1_text,
        image : theme.link ~ "/assets/aboutpage/about-grey.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.col_1_r2_1_image),
        theme : theme
      } only %}
    {% endif %}
  </article>
  <article class="col-sm-6 grid-tile">
    {% if row.col_1_r2_2_type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.col_1_r2_2_title,
        text : row.col_1_r2_2_text,
        image : theme.link ~ "/assets/aboutpage/about-grey.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.col_1_r2_2_image),
        theme : theme
      } only %}
    {% endif %}
  </article>
</div>
<div class="col-sm-6 column-block">
  <article class="col-sm-6 grid-tile">
    {% if row.col_2_r1_1_type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.col_2_r1_1_title,
        text : row.col_2_r1_1_text,
        image : theme.link ~ "/assets/aboutpage/about-grey.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.col_2_r1_1_image),
        theme : theme
      } only %}
    {% endif %}
  </article>
  <article class="col-sm-6 grid-tile">
    {% if row.col_2_r1_2_type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.col_2_r1_2_title,
        text : row.col_2_r1_2_text,
        image : theme.link ~ "/assets/aboutpage/about-grey.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.col_2_r1_2_image),
        theme : theme
      } only %}
    {% endif %}
  </article>
  <article class="col-sm-12 grid-tile">
    {% if row.col_2_r2_type == "text" %}
      {% include 'blocks/text.twig' with {
        title : row.col_2_r2_title,
        text : row.col_2_r2_text,
        image : theme.link ~ "/assets/aboutpage/about-black.png",
        theme : theme
      } only %}
    {% else %}
      {% include 'blocks/image.twig' with {
        image : TimberImage(row.col_2_r2_image),
        theme : theme
      } only %}
    {% endif %}
  </article>
</div>
